body,
td,
th,
tr,
p,
a,
strong,
papertitle,
name,
abs {
    font-family: 'Palatino', 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 16px; /* 增大字体 */
}

heading, heading2 {
  font-family: 'Century', serif; /* 使用 Century 字体 */
  font-size: 28px; /* 增大小标题字体 */
  text-decoration: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-color: #ad7020;
  text-decoration-color: #fba524;
}

papertitle {
  font-weight: 700;
}

name {
  font-size: 30px; /* 增大字体 */
}

/* 设置所有超链接的默认样式 */
a {
  color: rgb(143, 9, 9); /* 设置超链接默认颜色为黄色 */
  text-decoration: none; /* 去除下划线 */
}

/* 设置超链接悬停时的样式 */
a:hover {
  color: rgb(241, 186, 6) !important; /* 鼠标悬停时的颜色为深蓝色，使用 !important 来确保优先级 */
}


b {
  color: #ff5005;
  text-decoration: none;
}

a.a1 {
  color: #064e82;
  text-shadow: 0px 0px 0.5px rgb(235, 61, 30);
}

a.a2 {
  color: #000000;
  text-shadow: none;
}

abs {
  color: #EB6400;
}

.one, .two, .fade {
  width: 160px;
  height: 160px;
  transition: opacity .2s ease-in-out;
  position: relative;
}

.two {
  position: absolute;
}

span.highlight {
  background-color: #ffffd0;
}
